.fa {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    inline-size: 50px;
    text-decoration: none;
}

.fa-instagram {
    inline-size: 70px;
    block-size: 70px;
    background: #B9FBFF;
    color: #000000;
    border-radius: 100%;
}

.fa-github {
    inline-size: 70px;
    block-size: 70px;
    background: #B9FBFF;
    color: #000000;
    border-radius: 100%;
}

.fa-linkedin {
    inline-size: 70px;
    block-size: 70px;
    background: #B9FBFF;
    color: #000000;
    border-radius: 100%;
}

.fa-google {
    inline-size: 70px;
    block-size: 70px;
    background: #B9FBFF;
    color: #000000;
    border-radius: 100%;
}

@media only screen and (max-inline-size: 600px) {
    .fa-instagram {
        font-size: 20px;
        inline-size: 60px;
        block-size: 60px;
        background: #B9FBFF;
        color: #000000;
        border-radius: 100%;
    }

    .fa-github {
        font-size: 20px;
        inline-size: 60px;
        block-size: 60px;
        background: #B9FBFF;
        color: #000000;
        border-radius: 100%;
    }

    .fa-linkedin {
        font-size: 20px;
        inline-size: 60px;
        block-size: 60px;
        background: #B9FBFF;
        color: #000000;
        border-radius: 100%;
    }

    .fa-google {
        font-size: 20px;
        inline-size: 60px;
        block-size: 60px;
        background: #B9FBFF;
        color: #000000;
        border-radius: 100%;
    }
}